/*---------------------------->STYLE DOCUMENT FOR:------------------>
---------------------------->AnaTheBoo Landing Page-------------------->
-------------------------------------------------------------------->*/



/*-------------------------------------------------------------------->
------------------------------>TABLE OF CONTENTS---------------->
-------------------------------------------------------------------->

---------------> COLOR PALETTE

---------------> UNIVERSAL STYLES

---------------> VISUAL NAV

---------------> MAIN CONTENT

---------------> FOOTER/FOOTER NAV

---------------> RESPONVISE STYLES

--------------------------------------------------------------->End Contents*/

/*-------------------------------------------------------------------->
------------------------------>Color Palette---------------->
-------------------------------------------------------------------->

---------------> #121257 => Bold Blue

---------------> #13132e => Dark Blue

---------------> #a99458 => Golden Apple

---------------> #610745 Berry

---------------> #360727 Violet 

--------------------------------------------------------------->END Color Palette*/



/*-------------------------------------------------------------------->
------------------------------>UNIVERSAL STYLES--------------->
-------------------------------------------------------------------->*/


$boldBlue: #121257;
$darkBlue: #13132e;
$gapple: #a99458;
$berry: #610745;
$violet: #360727;

$visitOverlay: #0F0F0F;

html {
	--menu-color: #0F0F0F;
	font-family: 'Raleway', sans-serif;
	font: 100% 'Raleway', sans-serif;
}

body.noScroll {
  overflow: hidden;
}

.menu-button {
	position: absolute;
	right: 5vw;
	top:  1.5vh;
	z-index: 3;
	height: 1rem;
	width:  1.25rem;
}

/*--------------------------------------------------------------->END UNIVERSAL STYLES*/



/*-------------------------------------------------------------------->
------------------------------>VISUAL NAV--------------->
-------------------------------------------------------------------->*/

.visual-nav {
	background: #fff;
	height: 100vh;
	overflow: hidden;
	padding-top: 5vh;
	position: absolute;
	top:  0;
	width: 100vw;
	z-index: 2;
}

.visual-nav {

	.footer {
		height: 5vh;
		text-align: right;
		width:  95vw;
	}

	.visual-link {
		box-sizing: content-box;
		color: #fff;
		/* border-top: 2vh solid #fff; */
		/* height: 28vh; */
		height: 30vh;
		overflow:  hidden;
		position: relative;
	}

	.visual-link:before {
		background-color: $visitOverlay;
		content:  "";
		display: inline-block;
		height: 100%;
		position: absolute;
		opacity: .5;
		width: 100%;
	}

	.background-img {
		display: inline-block;
		bottom: -35%;
		position: absolute;
		transition: all .15s ease-in-out;
		width: 100%;
	}

	.play-visual-link .background-img {
		bottom: unset;
		top: -89%;
	}

	.background-overlay {
		background-color: $visitOverlay;
		content:  "";
		display: inline-block;
		height: 100%;
		position: absolute;
		opacity: .5;
		transition: opacity .15s ease-in-out;
		width: 100%;
	}

	.visual-link:hover .background-overlay {
		opacity: .75;
	}

	.visual-link:hover .background-img {
		transform: scale(1.2);
	}

	.visual-link a {
		color: #fff;
		display: inline-block;
		font-size: 1.25rem;
		height: 100%;
		line-height: 28vh;
		position: relative;
		text-align: center;
		width: 100%;
	}

	.author {
		height: 5vh;
		line-height: 5vh;
	}

}

/*--------------------------------------------------------------->END VISUAL NAV*/



/*-------------------------------------------------------------------->
------------------------------>MAIN CONTENT--------------->
-------------------------------------------------------------------->*/



/*--------------------------------------------------------------->END MAIN CONTENT*/



/*-------------------------------------------------------------------->
------------------------------>FOOTER--------------->
-------------------------------------------------------------------->*/



/*--------------------------------------------------------------->END FOOTER*/



/*-------------------------------------------------------------------->
------------------------------>RESPONVISE STYLES--------------->
-------------------------------------------------------------------->



/*--------------------------------------------------------------->END RESPONVISE STYLES*/
